header{
    border-bottom: 1px solid grey;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    
}
.logo  {
    color: #2e309e;
    font-family: 'ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: 900;
    position: relative;
    top: 10px;
    left: 50px;
    max-width: 100px;
}

a{
    text-decoration: none;
}

ul{
    margin: 0;
    list-style-type: none;
}

ul li{
    display: inline-block;
    padding: 20px 40px;
}

nav{
    position: relative;
    right: 30%;
}