*,*::before,*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

h1,h2,h3,h5{
    margin: 0px;
    padding: 0px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
}

.browse{
    flex-direction: column;
    background: green;
}

header{
    border-bottom: 1px solid;
}

a{
    text-decoration: none;
}

.logo  {
    color: #2e309e;
    font-family: 'ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: 900;
    position: relative;
    top: 10px;
    left: 50px;
    max-width: 100px;
}

nav li{
    display: inline-block;
}